Actualización de datos para la SMF,

Estimad@ miembro de la SMF:

Esperamos que se encuentre bien. En la Sociedad Mexicana de Física estamos en un proceso de actualización para mejorar nuestros servicios digitales. Para ello, y como primer paso, hemos creado cuentas de usuario para cada miembro de la SMF. En esta cuenta podrá encontrar información básica que usted nos ha proporcionado cuando dio de alta su membresía. Con este nuevo sistema, esperamos que eventualmente se incorporen servicios electrónicos de:

 -Pago de membresía
 -Inscripción a eventos de la SMF 
 -Cambiar datos personales afiliación a alguna división
 -Entre otras herramientas en línea

Lo invitamos a conocer este sistema y a revisar/actualizar sus datos, mismo que no le llevará más de 5 minutos. Para entrar a su cuenta personal utilice la siguiente información:

página web: smf76.fciencias.unam.mx

Nombre de usuario: {{username}}

Contraseña: {{password}}

Si tiene dudas sobre el uso de la plataforma puede contactarnos al correo: smf.soporte@ciencias.unam.mx.

Atentamente, Sociedad Mexicana de Física
