{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account_tags %}

{% block head_title %}{% trans "Restablecimiento de contraseña" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body %}
    <div class="row">
        <div  class="col-md-8">
            <form method="POST" action="">
                <legend>{% trans "Restablecer contraseña" %}</legend>
                <p class="lead">{% trans "¿Olvido su contraseña? Ingrese su dirección de correo electrónico a continuación, y le enviaremos un correo electrónico que le permitirá restablecerla." %}</p>
                <fieldset class="row">
                    <div class="col-md-5">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Restablecer mi contraseña" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <p>{% blocktrans %} Si tiene problemas para restablecer su contraseña, contactenos en <a href="mailto:{{ THEME_CONTACT_EMAIL }}">smf.soporte@ciencias.unam.mx</a>.{% endblocktrans %}</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
